.root {
  @apply sticky top-0 z-40 transition-all duration-150;
  @apply bg-blue;
  z-index: 1000;
  padding: 8px;
}

.link {
  @apply inline-flex items-center text-white leading-6 font-medium transition ease-in-out duration-75 cursor-pointer text-yellow;
  white-space: nowrap;
  font-family: 'Lemon Milk';
  text-transform: uppercase;
  text-decoration: underline;

  @media (max-width: 1400px) {
    font-size: 10px;
    line-height: 14px;
    margin-left: 12px !important;
    text-align: center;
  }

  @media (max-width: 1200px) {
    font-size: 10px;
    line-height: 14px;
    margin-left: 12px !important;
    text-align: center;
  }

  @media (max-width: 1100px) {
    font-size: 10px;
    line-height: 13px;
    text-align: center;
  }
}

.link:hover {
  @apply text-yellow;
  opacity: 0.8;
}

.link:focus {
  @apply outline-none text-yellow;
}

.logo {
  @apply cursor-pointer transform duration-100 ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.navLeft {
  width: 90%;
}

.navItems {
  display: flex;
  width: 90%;
  margin-right: 20px;
  justify-content: flex-end;

  @media (max-width: 780px) {
    display: none;
  }
}

.branding {
  display: flex;
  flex-direction: row;
  height: 63px;
  justify-content: space-between;
  align-items: center;
}
