.root {
  /* @apply relative; */
  display: flex;
}

.list {
  @apply flex flex-row items-center justify-items-end h-full;
}

.item {
  @apply mr-6 cursor-pointer relative transition ease-in-out duration-100 items-center outline-none text-white;

  &:hover {
    @apply text-yellow transition scale-110 duration-100;
  }

  &:last-child {
    @apply mr-0;
  }

  &:focus,
  &:active {
    @apply outline-none;
  }
}

.hamburger {
  // display: none;
  // @media (max-width: 780px) {
  //   display: flex;
  // }

  display: none;
  border: none;
  background: transparent;

  @media (max-width: 768px) {
    display: block !important;
  }

  &:hover {
    opacity: 0.8;
  }

  div {
    width: 35px;
    height: 5px;
    background-color: #ffef62;
    margin: 5px 0;
  }
}

.cart {
  min-width: 25px;
}

.bagCount {
  @apply border border-accents-1 bg-secondary text-secondary absolute rounded-full left-3 bottom-3 flex items-center justify-center font-bold text-xs;
  padding-left: 2.5px;
  padding-right: 2.5px;
  min-width: 1.25rem;
  min-height: 1.25rem;
}

.avatarButton {
  @apply inline-flex justify-center rounded-full;
}

.avatarButton:focus {
  @apply outline-none;
}

.signinBtn {
  font-family: 'LEMON MILK';
  font-weight: 700;
  padding: .5rem 1rem;
  border: 1px solid white;
  text-transform: uppercase;
  white-space: nowrap;

  @media (max-width: 1400px) {
    font-size: 13px;
  }

  @media (max-width: 1200px) {
    font-size: 12px;
  }

  @media (max-width: 1100px) {
    font-size: 10px;
  }
}

.mobileMenu {
  display: none;
  @media (max-width: 780px) {
    display: block;
  }
  position: absolute;
  width: calc(100% + 16px);
  height: 100vh;
  left: -8px;
  top: 71px;
  color: white;
  background: var(--blue);
  padding-bottom: 10px;
  border-bottom: 1px dotted white;

  li {
    text-align: left;
    padding: 10px;
    text-transform: uppercase;

    font-family: Lemon Milk;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;

    text-decoration-line: underline;
    color: #ffef62;

    padding: 0 15px;
    margin-top: 1rem;
  }
  
}