.wrapper {
  .zoomWrapper {
    transform: none !important;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 10001;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    transition: all 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;


    video,
    img {
      margin-top: 100px;
      height: 80vh;
      object-fit: contain;
      transition: all 0.3s;
    }
  }
}