.root {
  @apply fixed bg-primary text-primary flex items-center inset-0 z-50 justify-center;
  background-color: rgba(0, 0, 0, 0.35);
}

.modal {
  @apply bg-primary p-5 md:p-12 relative;
  background-color: var(--blue);
  color: white;
  border: 1px solid gray;
}

.modal:focus {
  @apply outline-none;
}

.close {
  background-color: var(--yellow);
  border-radius: 50%;
}
