@import '../../../assets/grid.scss';

.wrapper {
  position: relative;

  .homePageContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 50px;

    &.homepage {
      padding-bottom: 0;
    }
    
    &.explorePage {
      justify-content: flex-start;
      height: 57vw;
      padding-bottom: 0;
    }

    @include lg-width {
      margin-bottom: 0px;
      padding: 1.5rem 5rem 7rem 5rem;

      &.homepage {
        padding: 0;
      }  
    }

    .bannerItem {
      width: 100vw;
    }

    .overlay {
      background: rgba(255, 239, 98, 0.9);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

    }

    .headerImage {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}