@import '../../../assets/grid.scss';

.homeTitleContainer {
  width: 100%;
  padding-top: 50px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .titleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  
    .title {
      font-family: 'NewYork';
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 100%;
      color: var(--blue);
      width: 100%;
      text-align: center;
      -webkit-text-stroke: 2px var(--blue);

    
      sub {
        font-size: 6vw;
        margin-top: 5vw;
        margin-left: -3%;
        margin-right: 1vw;
      }

      @include lg-width {
        font-size: 10.4vw;
        text-align: left;
      }
    
      margin: auto;
    }
  }
}


