.root {
  @apply h-full flex flex-col bg-blue border border-dotted border-accents-4;
}

.root.empty {
  @apply bg-blue text-yellow;
}

.root.success {
  @apply bg-green text-yellow;
}

.root.error {
  @apply bg-red text-yellow;
}
